.section {
	height: 10px;
	margin-top: 2px;
	background-color: #FF0000;
}

.legend-item {
	width: 100%;
	height: 20px;
}

.legend-item-over {
	background-color: #FFCC14;
}

.legend-item-under {
	background-color: #005D9A;
}

.legend-item-genome {
	background-color: #fe1b1b;
}

.legend-item-cluster {
	background-color: #b9b9b9;
}

.svg-container {
    position: relative;
	width: 100%;
}

.svg-inner-container {
	width: 100%;
	padding: 20px 20px 0px 20px;
}

.diagram-container-container {
	width: 33.3%;
	min-width: 200px;
	padding: 5px;
	display: inline-block;
}

.diagram-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
}

.diagram-container-big {
/*
	position: absolute;
	top: 50px;
	left: 50px;
*/
	width: 100%;
	background-color: #FFFFFF;
/*
	border-style: solid;
	border-width: 1px;
*/
}

.popup-container {
    position: absolute;
    top: 10px;
    width: 90%;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid black;
	box-shadow: 0 0 25px;
    padding: 0px 15px 0px 15px;
	z-index: 2;
    background-color: white;
}

.graph-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.info-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    overflow-y: auto;
    height: 360x;
}

.diagram-title {
	position: absolute;
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.info-title {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 24px;
}

.diagram-container-big > .svg-container > .diagram-title {
	font-size: 24px;
}

.button {
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	border-radius: 5px;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

.button:hover {
	box-shadow: 0 0 5px;
}

.small-button {
	height: 20px;
	width: 20px;
}

.close-button {
	float: right;
	margin-right: 20px;
}

.maximise-button, .minimise-button {
	/*So the maximise button can lie on top of the minimise button*/
	position: absolute;
	left: 20px;
}

.diagram-container-big > .svg-container > .minimise-button {
	left: 5px;
	top: 5px;
}

.expr-cluster-select, .ortho-cluster-select {
	margin-bottom: 10px;
}

/*From http://bl.ocks.org/mbostock/4062006*/
.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

/*From http://bl.ocks.org/d3noob/b3ff6ae1c120eea654b5*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* From the d3.js cookbook */
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.info-inner-container > * {
    display: inline-block;
    width: 100%;
}

/*Box/Violin plot spesific css*/
.area{
    shape-rendering: geometricPrecision;
    fill: #ccc !important;
}

.boxplot{
    shape-rendering: crispEdges;
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
.boxplot.fill{
    fill: none;
}
.boxplot.mean, .boxplot.median{
    fill: red;
    stroke: red;
}
.boxplot.mean{
    shape-rendering: geometricPrecision;
}
.violin{
    shape-rendering: geometricPrecision;
    fill: none !important;
    stroke: #777;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    color-rendering: optimizeQuality !important;
    shape-rendering: crispEdges !important;
    text-rendering: geometricPrecision !important;

}
