.section {
	height: 10px;
	margin-top: 2px;
	background-color: #FF0000;
}

.svg-container {
    position: relative;
	width: 100%;
}

.svg-inner-container {
	width: 100%;
	padding: 20px 20px 0px 20px;
}

.diagram-container-container {
	width: 33.3%;
	min-width: 200px;
	display: inline-block;
}

.diagram-container {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 5px;
	vertical-align: top;
}

.diagram-container-big {
/*
	position: absolute;
	top: 50px;
	left: 50px;
*/
	width: 100%;
	background-color: #FFFFFF;
/*
	border-style: solid;
	border-width: 1px;
*/
}

.popup-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
	border: 1px solid black;
    padding: 0px 15px 0px 15px;
	z-index: 2;
    background-color: white;
}

.graph-container {
    position: relative;
    float: left;
    width: 50%;
/*	border: 1px solid blue;*/
}

.info-container {
    position: relative;
    float: right;
    width: 50%;
    overflow-y: auto;
    height: 360x;
/*	border: 1px solid green;*/
}

.diagram-title {
	position: absolute;
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.info-title {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 24px;
}

.diagram-container-big > .svg-container > .diagram-title {
	font-size: 24px;
}

.button {
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	border-radius: 5px;
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

.button:hover {
	box-shadow: 0 0 5px;
}

.small-button {
	/*position: absolute;*/
	height: 20px;
	width: 20px;
}

.close-button {
	float: right;
	margin-right: 20px;
}

.expand-button, .minimise-button {
	/*So the expand button can lie on top of the minimise button*/
	position: absolute;
	left: 20px;
}

.diagram-container-big > .svg-container > .minimise-button {
	left: 5px;
	top: 5px;
}

.expr-cluster-select, .ortho-cluster-select {
	margin-bottom: 10px;
}

/*From http://bl.ocks.org/mbostock/4062006*/
.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

/*From http://bl.ocks.org/d3noob/b3ff6ae1c120eea654b5*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* From the d3.js cookbook */
div.tooltip {
    position: absolute;
    text-align: center;
/*
    width: 60px;
    height: 28px;
*/
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.info-inner-container > * {
    display: inline-block;
}